#features {
  width: 70%;
  margin: 0 auto;
  margin-top: 88.8px;
  text-align: center;

  .features-hero {
    ul {
      width: 70%;
      margin: 0 auto;
      list-style-type: none;
      li {
        margin: 1rem;
        span {
          display: block;
        }
      }
    }
  }

  .features-blobs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      flex: 1 1 30%;
      margin: 1rem;

      p {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}


