#features {
  margin: 0 auto;
  margin-top: 88.8px;

  .features-info {
    img {
      width: 100%;
    }
    ul {
      list-style-type: none;
      li {
        margin: 1rem;
        span {
          display: block;
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        width: 100%;
        text-align: center;
        padding: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          flex: 1 1 40%;
        }
      }
    }
  }

  .features-blobs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      flex: 1 1 30%;
      text-align: center;

      p {
        width: 70%;
        margin: auto;
      }
    }
  }
}


