#pricing {
  margin: auto;

  .pricing-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px) {
      display: initial;
    }

    .pricing-col-1 {
      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .pricing-col-2 {
      font-size: 2rem;
      span {
        text-decoration: underline;
      }
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }

  .pricing-contact {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    @media (max-width: 768px) {
      width: 80%;
    }
    h3, p {
      display: inline;
    }
    form {
      border: 3px solid black;
      border-radius: 5px;
      margin: 1rem;
      padding: 1rem;
      text-align: center;

      div {
        display: flex;
        justify-content: flex-start;
        margin: 1rem auto;
        width: 50%;
        @media (max-width: 768px) {
          justify-content: center;
          width: 60%;
        }

        input,
        textarea {
          padding: 5px;
          border-radius: 3px;
          border: none;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
